################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/buggyApp/CopilotIndices/17.13.439.2385
/.vs/buggyApp/FileContentIndex
/windows/MediaElementIssue2/.vs
/.vs
